.advertorials {
  padding: 1em 4em 0 4em;
  display: flex;
  gap: 1em;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.advertorial {
  flex: 1;
  background-color: #54A6FF;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;

  h2 {
    color: white;
    max-width: 50%;
    /* The Best Platform for Car Rental */
    font-weight: 400;
    line-height: 150%; /* or 48px */
    letter-spacing: -0.03em; /* Primary/0 */
    color: #FFFFFF; /* Inside auto layout */
    margin: 0;
  }

  p {
    color: white;
    max-width: 50%;
  }
  img{
    max-width: 75%;
    margin: 0 auto;
  }
  .background-header-element{
    position: absolute;

    z-index: 0;
  }
}

@media screen and (max-width: 768px) {
  .advertorials {
    padding: 1em 2em 0 2em;
    flex-direction: column;
  }

  .advertorial {
    h2, p {
      max-width: 100%;
    }
  }
}